<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite" verbose="2">
    <listeners>
        <listener class-name="Utilities.Listeners"/>
    </listeners>
    <test name="Local Device Farm Project">
        <classes>
            <class name="Tests.TC01_InternetOffTest">
                <methods>
                    <include name="internetOffTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>